<!DOCTYPE html>
<html lang="fa IR">

    <head>
        <!--Document Metadata Information-->
        <title>مورگن | نمایندگی فروش محصولات در ایران</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="Moorgen, مورگن, نمایندگی فروش مورگن,فروش محصولات مورگن,برق و الکترونیک">
        <meta name="description" content="محصولات و ماژول‌های مرتبط با هوشمندسازی منازل در زمینه برق و الکترونیک">
        <meta name="subject" content="وب‌سایت شرکت مورگن در ایران">
        <meta http-equiv="refresh" content="3600">
        <!--Document Dependencies: Cascading Stylesheet-->
        <link rel="stylesheet" type="text/css" href="lib/stylesheet/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="dist/stylesheet/fonts.css">
        <link rel="stylesheet" type="text/css" href="dist/stylesheet/index.css">
    </head>

    <body>
        <nav v-if="seen">
            <section class="navBlock">
                <img class="logo" h src="assets/images/moorgen-logo.png" alt="MOORGEN">
                <ul class="navMenu">
                    <li><a href="#about">{{about}}<hr></a></li>
                    <li><a href="#products">{{products}}<hr></a></li>
                    <li><a href="#systems">{{systems}}<hr></a></li>
                    <li><a href="#solutions">{{solutions}}<hr></a></li>
                    <li><a href="#projects">{{projects}}<hr></a></li>
                    <li><a href="#contact">{{contact}}<hr></a></li>
                </ul>
            </section>
            <ul class="navSocial">
                <li title="اینستاگرام"><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li title="تلگرام"><a href="https://t.me" target="_blank"><i class="fab fa-telegram"></i></a></li>
                <li title="فراماگیت"><a href="https://framagit.org/sinaaghighi/moorgen" target="_blank"><i class="fab fa-gitlab"></i></a></li>
                <li title="توییتر"><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </nav>
        <header id="about" v-if="seen">
            <div class="titleBox">
                <h1>{{title}}</h1>
            </div>
            <div class="descriptBox">
                <p>{{descript1}}</p>
                <p>{{descript2}}</p>
            </div>
        </header>
        <main id="products" class="productsContainer" v-if="seen">

            <section class="product swiss">
                <div class="product-imageBox">
                    <img src="assets/images/serie-switzerland-2.png" alt="">
                    <img src="assets/images/serie-switzerland-3.png" alt="">
                </div>
                <div class="product-textBox">
                    <h2>{{swissTitle}}</h2>
                    <hr>
                    <p>{{swissDescript}}</p>
                </div>
            </section>

            <section class="product denmark">
                <div class="product-textBox">
                    <h2>{{denmarkTitle}}</h2>
                    <hr>
                    <p>{{denmarkDescript}}</p>
                </div>
                <div class="product-imageBox">
                    <img src="assets/images/serie-denmark-1.png" alt="">
                    <img src="assets/images/serie-denmark-2.png" alt="">
                </div>
            </section>

            <section class="product milan">
                <div class="product-imageBox">
                    <img src="assets/images/serie-milan-1.png" alt="">
                </div>
                <div class="product-textBox">
                    <h2>{{milanTitle}}</h2>
                    <hr>
                    <p>{{milanDescript}}</p>
                </div>
            </section>

            <section class="product milan-LCD">
                <div class="product-textBox">
                    <h2>{{milan_LCDTitle}}</h2>
                    <hr>
                    <p>{{milan_LCDDescript}}</p>
                </div>
                <div class="product-imageBox">
                    <img src="assets/images/serie-milan-LCD.png" alt="">
                </div>
            </section>

            <section class="product remote-control">
                <div class="product-imageBox">
                    <img src="assets/images/remote-control-1.png" alt="">
                    <img src="assets/images/remote-control-2.png" alt="">
                </div>
                <div class="product-textBox">
                    <h2>{{remoteTitle}}</h2>
                    <hr>
                    <p>{{remoteDescript}}</p>
                </div>
            </section>

            <section class="product remote-control-m56">
                <div class="product-textBox">
                    <h2>{{remote_m56Title}}</h2>
                    <hr>
                    <p>{{emote_m56Descript}}</p>
                </div>
                <div class="product-imageBox">
                    <img src="assets/images/serie-remote-m56-1.png" alt="">
                    <img src="assets/images/serie-remote-m56-2.png" alt="">
                </div>
            </section>

            <section class="product remote-control-m36">
                <div class="product-imageBox">
                    <img src="assets/images/remote-control-m36.png" alt="">
                </div>
                <div class="product-textBox">
                    <h2>{{remote_m36Title}}</h2>
                    <hr>
                    <p>{{remote_m36Descript}}</p>
                </div>
            </section>

        </main>
        <section id="contact" class="contact" v-if="seen">
            <h2>{{title}}</h2>
            <div class="contact-container">

                <iframe width="520px" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=51.44725531339646%2C35.74754628376062%2C51.45024865865708%2C35.74885457678231&amp;layer=mapnik" style="border: 1px solid #CDCDCD">
                </iframe>

                <div class="textBox">
                    <ul>
                        <li>
                            <i class="fas fa-phone"></i>
                            <strong>{{titlePhone}}</strong><br>
                            <a href="tel:+989129515171">{{descriptPhone}}</a>
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <strong>{{titleEmail}}</strong><br>
                            <a href="mailto:info@moorgen-co.ir">{{descriptEmail}}</a>
                        </li>
                        <li>
                            <i class="fas fa-map"></i>
                            <strong>{{titleAddress}}</strong><br>
                            {{descriptAddress}}
                        </li>
                    </ul>
                </div>

            </div>
        </section>
        <footer v-if="seen">
            <section class="footer-container">

                <div>
                    <h3>{{titleCompany}}</h3>
                    <ul>
                        <li><a href="#about">{{about}}</a></li>
                        <li><a href="#contact">{{contact}}</a></li>
                        <li><a href="#products">{{products}}</a></li>
                        <li><a href="#">{{support}}</a></li>
                        <li><a href="assets/documents/Moorgen Cataloge.pdf" target="_blank">{{cataloge}}</a></li>
                    </ul>
                </div>

                <div>
                    <h3>{{titleSocial}}</h3>
                    <ul>
                        <li>
                            <i class="fab fa-instagram"></i>
                            <a href="https://instagram.com" target="_self">{{instagram}}</a>
                        </li>
                        <li>
                            <i class="fab fa-telegram"></i>
                            <a href="https://t.me" target="_self">{{telegram}}</a>
                        </li>
                        <li>
                            <i class="fab fa-twitter"></i>
                            <a href="https://twitter.com" target="_self">{{twitter}}</a>
                        </li>
                        <li>
                            <i class="fab fa-gitlab"></i>
                            <a href="https://framagit.org/sinaaghighi/moorgen" target="_self">{{gitlab}}</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3>{{titleLicense}}</h3>
                    <p>{{descriptLicense}}</p>
                </div>

            </section>
            <section class="credit">
                <span>تمامی حقوق مادی برای مورگن محفوظ است</span>
                <span>طراحی و توسعه با <i class="fas fa-heart" style="color: darkred; font-size: smaller;"></i> توسط <a href="https://tehrancoders.com" target="_blank">تهران‌کدرز</a></span>
            </section>
        </footer>
        <!--Document Dependencies: JavaScript-->
        <script src="lib/javascript/font-awesome.min.js"></script>
        <script src="lib/javascript/vue.min.js"></script>
        <script src="lib/javascript/jquery-3.5.1.min.js"></script>
        <script src="dist/javascript/components.js"></script>
        <script src="dist/javascript/index.js"></script>
    </body>

</html>