@import 'variables';
@import 'reset';
@import 'mixin';

body {
    background: #ffffff;
    color: #111111;

    nav {
        @include display(flex);
        @include flex-flow(row wrap);
        justify-content: space-between;
        align-items: center;
        background: #222222;
        border-top: 1em solid #333333;
        padding: 2.5em 2em;
        color: #ffffff;

        .navBlock {
            @include display(flex);
            @include flex-flow(row wrap);
            justify-content: center;
            align-items: center;

            .logo {
                margin-left: 1em;
                width: fit-content;
                height: 1.5em;
                cursor: pointer;
            }

            .navMenu {
                @include display(flex);
                @include flex-flow(row wrap);
                justify-content: center;
                align-items: center;

                li {
                    @include transition(0.5s ease);
                    font-family: $fontMedium;
                    font-size: 1em;
                    margin: 0 0.5em;
                    opacity: 0.6;

                    a {
                        @include transition(0.5s ease);
                        @include display(flex);
                        @include flex-flow(column);
                        justify-content: center;
                        align-items: center;

                        hr {
                            @include transition(0.65s ease);
                            @include transform(scale(0, 0.5));
                            border: 0.5px solid #ffffff;
                            margin-top: 0.25em;
                            width: 2.125em;
                        }
                    }

                    &:hover {
                        @include transition(0.5s ease);
                        cursor: pointer;
                        opacity: 1;

                        a {
                            @include transition(0.5s ease);

                            hr {
                                @include transition(0.65s ease);
                                @include transform(scale(1, 0.5));
                            }
                        }
                    }
                }
            }
        }

        .navSocial {
            @include display(flex);
            @include flex-flow(row wrap);
            justify-content: space-between;
            align-items: center;

            li {
                @include transition(0.5s ease);
                margin: 0 0.25em;
                font-size: 1.125em;
                opacity: 0.6;

                &:hover {
                    @include transition(0.5s ease);
                    opacity: 1;
                }
            }
        }
    }

    .productsContainer {

        .product {
            @include display(flex);
            @include flex-flow(row wrap);
            justify-content: center;
            align-items: stretch;
            padding: 35vh 2em;
            color: #ffffff;

            .product-imageBox {
                @include display(flex);
                @include flex-flow(column wrap);
                justify-content: center;
                align-items: center;
                margin: 0 2em;

                img {
                    @include transition(0.5s ease);
                    width: 28vw;
                    height: auto;
                    opacity: 0.7;
                    margin-bottom: 0.5em;

                    &:hover {
                        @include transition(0.5s ease);
                        cursor: pointer;
                        opacity: 1;
                    }
                }
            }

            .product-textBox {
                @include transition(0.5s ease);
                @include display(flex);
                @include flex-flow(column wrap);
                justify-content: center;
                align-items: flex-start;
                width: 45vw;
                border-radius: 5px;
                padding: 1em;

                h2 {
                    color: rgba(231, 172, 94, 100%);
                    font-size: 3em;
                }

                hr {
                    border: 1px solid rgba(231, 172, 94, 50%);
                    margin: 1em 0 2em 0;
                    width: 8em;
                }

                p {
                    color: #CDCDCD;
                    font-family: $fontThin;
                    font-size: 1em;
                    text-align: justify;
                }
            }
        }

        .swiss {
            background: #111111;
        }

        .denmark {
            background: #222222;
        }

        .milan {
            background: #333333;
        }

        .milan-LCD {
            background: #444444;
        }

        .remote-control {
            background: #333333;

            .product-imageBox {
                @include display(flex);
                @include flex-flow(column wrap);
                justify-content: center;
                align-items: center;
                margin: 0 2em;

                img {
                    @include transition(0.5s ease);
                    width: 15vw;
                    height: auto;
                    opacity: 0.7;
                    margin-bottom: 0.5em;

                    &:hover {
                        @include transition(0.5s ease);
                        cursor: pointer;
                        opacity: 1;
                    }
                }
            }
        }

        .remote-control-m56 {
            background: #222222;

            .product-imageBox {
                @include display(flex);
                @include flex-flow(column wrap);
                justify-content: center;
                align-items: center;
                margin: 0 2em;

                img {
                    @include transition(0.5s ease);
                    width: 20vw;
                    height: auto;
                    opacity: 0.7;
                    margin-bottom: 0.5em;

                    &:hover {
                        @include transition(0.5s ease);
                        cursor: pointer;
                        opacity: 1;
                    }
                }
            }
        }

        .remote-control-m36 {
            background: #111111;

            .product-imageBox {
                @include display(flex);
                @include flex-flow(column wrap);
                justify-content: center;
                align-items: center;
                margin: 0 2em;

                img {
                    @include transition(0.5s ease);
                    width: 30vw;
                    height: auto;
                    opacity: 0.7;
                    margin-bottom: 0.5em;

                    &:hover {
                        @include transition(0.5s ease);
                        cursor: pointer;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .contact {
        @include display(flex);
        @include flex-flow(column wrap);
        justify-content: center;
        align-items: center;
        background: #ffffff;
        color: #111111;
        padding: 4em 2em;
        min-height: 90vh !important;
        max-height: fit-content;

        h2 {
            font-size: 3em;
            margin-bottom: 1em;
        }

        .contact-container {
            @include display(flex);
            @include flex-flow(row wrap);
            justify-content: center;
            align-items: flex-start;

            iframe {
                min-width: fit-content;
                max-width: 40vw;
            }

            .textBox {
                margin-right: 2em;
                width: 38vw;

                ul {
                    display: flex;
                    flex-flow: column wrap;

                    li {
                        font-size: 18px;
                        margin: 1em 0;

                        strong {
                            font-family: $fontMedium;
                            font-size: 20px;
                        }
                    }
                }
            }

        }
    }

    footer {
        @include display(flex);
        @include flex-flow(column wrap);
        justify-content: center;
        align-items: center;
        background: #111111;
        color: #ffffff;
        padding: 4em 1em;
        min-height: 18vh;
        max-height: fit-content;

        .footer-container {
            @include display(flex);
            @include flex-flow(row wrap);
            justify-content: center;
            align-items: stretch;

            div {
                @include display(flex);
                @include flex-flow(column wrap);
                justify-content: right;
                align-items: flex-start;
                border: 1px solid #222222;
                border-radius: 5px;
                padding: 1em;
                margin: 0.6em;
                width: 26vw;

                h3 {
                    margin-bottom: 1em;
                }

                ul {
                    @include display(flex);
                    @include flex-flow(column wrap);
                    justify-content: flex-start;
                    align-items: flex-start;

                    li {
                        @include transition(0.4s ease);
                        font-size: 16px;
                        opacity: 0.6;

                        &:hover {
                            @include transition(0.4s ease);
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                }

                p {
                    color: #999999;
                    text-align: justify;
                    font-size: 16px;
                }
            }
        }

        .credit {
            @include display(flex);
            @include flex-flow(column wrap);
            justify-content: center;
            align-items: center;
            margin-top: 3em;

            span {
                font-size: 14px;
                color: #999999;

                a {
                    @include transition(0.5s ease);
                    color: #CDCDCD;

                    &:hover {
                        @include transition(0.5s ease);
                        text-decoration: underline;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}