@import 'variables';
@import 'reset';
@import 'mixin';
@import 'components';

body {
    background: #ffffff;
    color: #111111;

    header {
        @include display(flex);
        @include flex-flow(row wrap);
        justify-content: space-between;
        align-items: center;
        padding: 4em 2em;
        min-height: 80vh;
        max-height: fit-content;

        .titleBox {
            width: 35vw;

            h1 {
                font-size: 4em;
            }
        }

        .descriptBox {
            width: 55vw;

            p {
                font-family: $fontLight;
                font-size: 1.125em;
                text-align: justify;
                margin-bottom: 1em;
            }
        }
    }
}