@mixin transition($value) {
    transition: $value;
    -moz-transition: $value;
    -webkit-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
}

@mixin transform($value) {
    transform: $value;
    -moz-transform: $value;
    -webkit-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
}

@mixin filter($value) {
    filter: $value;
    -moz-filter: $value;
    -webkit-filter: $value;
    -ms-filter: $value;
    -o-filter: $value;
}

@mixin display($value) {
    display: $value;
    -webkit-display: $value;
    -moz-display: $value;
    -ms-display: $value;
    -o-display: $value;
}

@mixin flex-flow($value) {
    flex-flow: $value;
    -webkit-flex-flow: $value;
    -moz-flex-flow: $value;
    -ms-flex-flow: $value;
    -o-flex-flow: $value;
}

@mixin backdrop-filter($value) {
    backdrop-filter: $value;
    -moz-backdrop-filter: $value;
    -webkit-backdrop-filter: $value;
    -ms-backdrop-filter: $value;
    -o-backdrop-filter: $value;
}